    .sidebar {
      height: 100%;
      width: 70px; /* Narrower sidebar */
      position: fixed;
      top: 0;
      left: 0;
      background-color: #f8f9fa;
      padding-top: 60px; /* Adjust this value based on your design */
    }

    .sidebar .nav-link {
      text-align: center;
      padding: 20px 0;
    }

    .content {
      margin-left: 70px; /* Make sure to match the sidebar width */
    }