{{template "header" .}}

{{template "navbar" .}}

<div class="container">
    <h3 class="display-6">Active Login Sessions</h3>
    <hr />

    <table class="table table-striped border">
        <thead>
            <tr>
                <th>UserId</th>
                <th>IP</th>
                <th>User Agent</th>
                <th>Login Time</th>
            </tr>
        </thead>
        <tbody>
            {{$identityList := index .ViewData "IdentityList"}}
            {{ range $value := $identityList }}
            <tr>
                <td>{{ $value.UserId }}</td>
                <td>{{ $value.IpAddr }}</td>
                <td>{{ $value.UserAgent }}</td>
                <td>{{ $value.LoginTime }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <a class="btn btn-danger" href="/auth/logoutall">Logout All</a>
</div>


{{ template "footer" .}}