{{template "header" .}}

{{template "navbar" .}}

<div class="content-lg">
    <h3 class="display-6">Active Login Sessions</h3>
    <hr />
    <br />
    <br />

    <table>
        <thead>
            <tr>
                <th>UserId</th>
                <th>IP</th>
                <th>User Agent</th>
                <th>Login Time</th>
            </tr>
        </thead>
        <tbody>
            {{$identityList := index .ViewData "IdentityList"}}
            {{ range $value := $identityList }}
            <tr>
                <td>{{ $value.UserId }}</td>
                <td>{{ $value.IpAddr }}</td>
                <td>{{ $value.UserAgent }}</td>
                <td>{{ $value.LoginTime }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <br />
    <button><a href="/auth/logoutall">Logout All Sessions</a></button>
    <button><a href="/auth/logout">Logout Current Session</a></button>
</div>


{{ template "footer" .}}