{{ $error := index .ViewData "Error" }}
{{ $successmsg := index .ViewData "SuccessMsg" }}

<div id="adduser">
	<form method="post" action="/example/adduser" hx-post="/example/adduser" hx-target="#adduser" hx-swap="outerHTML" autocomplete="off">
		<label for="emailinput">Email:</label>
		<input type="email" name="email" id="emailinput" autofocus/>
		
		<input type="submit" value="Add new user"/>
		{{ if $error }}
			<span style="color: red;">Error: {{$error}}</span>
		{{end}}
		
		{{ if $successmsg }}
			<span style="color: green;">{{$successmsg}}</span>
		{{end}}

	</form>
	
	<br />
	
	{{ $users := index .ViewData "Users" }}
	
	{{ if $users }}
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>		
				{{ range $val := $users }}
				<tr>
					<td>{{$val.Id}}</td>
					<td>{{$val.Email}}</td>
				</tr>
		
				{{end}}
			</tbody>
		</table>
		
		<button style="background: red;">
			<a style="text-decoration: none; color: white;" href="/example/deleteall" hx-get="/example/deleteall" hx-target="#adduser" hx-swap="outerHTML">
				Delete All
			</a>
		</button>
	{{ else }}
		<p>There are currently no users.</p>
	{{end}}
</div>