{{template "header" .}}

{{ $error := index .ViewData "error" }}

<div class="container" style="margin-top: 20px;">

  <div style="text-align: center;">
    <a href="/">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
  </div>

  {{ if $error }}
  <div style="color: red;" role="alert">
    {{ $error }}
  </div>
  {{end}}

  <form action="" method="POST" autocomplete="off">
    <h1 class="h3 mb-3 fw-normal">Log In</h1>

    <label for="userid">UserId</label>
    <input name="username" type="text" class="form-control" id="userid" placeholder="" autofocus>

    <br />
    <br />

    <label for="password">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password">

    <br />
    <br />

    <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="rememberMe">
    <label class="form-check-label" for="flexCheckDefault">
      Remember me
    </label>

    <br />
    <br />

    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>

  </form>
</div>

{{template "footer" .}}