{{define "navbar"}}
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Index</a>
  <div class="dropdown">
    <button class="dropbtn">Examples
      ▼
    </button>
    <div class="dropdown-content">
      <a href="/example">Basic examples</a>
      <a href="/example/database">Database example</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Account
      ▼
    </button>
    <div class="dropdown-content">
      <a href="/account/info">Info</a>
      <a href="/account/sessions">Active Sessions</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">API
      ▼
    </button>
    <div class="dropdown-content">
      <a href="/api/identity" target="_blank">Show Identity Info (respond with JSON)</a>
      <a href="/api/clientfetch">Fetch data from 3rd party (recieve JSON)</a>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="openNavbar()">&#9776;</a>
</div>
{{end}}