{{template "header" .}}

{{template "navbar" .}}

<div class="container">
	<div class="card align-middle shadow-sm">
		<div class="card-header">
			Identity
		</div>
		<div class="card-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Username</td>
						<td>{{.Identity.Username}}</td>
					</tr>
					<tr>
						<td>Role</td>
						<td>{{.Identity.Role}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<br />

	<div class="card align-middle shadow-sm">
		<div class="card-header">
			Example Chart
		</div>
		<div class="card-body">
			<img src="/assets/images/chart.png" alt="chart" width="500" height="auto" />
		</div>
	</div>

	<br />

	<div class="card align-middle shadow-sm">
		<div class="card-header">
			Password Generator
		</div>
		<div class="card-body">
			<form action="" method="post" autocomplete="off">
				<input type="text" name="val1" placeholder="val1" autofocus />
				<button>Generate Password</button>
			</form>
			<br />
			<p>Output:</p>
			<code>{{index .ViewData "Password" }}</code>
		</div>
	</div>
</div>

{{ template "footer" .}}