<div id="htmx-counter">
    <div class="card">
        <div class="card-header">
            <span>HTMX Counter</span>
        </div>
		<div class="card-body">
            <form method="get" action="/example/counter" hx-get="/example/counter" hx-target="#htmx-counter" hx-swap="outerHTML" autocomplete="off">
                <input type="hidden" name="number" value="{{index .ViewData "number" }}">
                <button class="btn btn-primary">Increment Number</button>
            </form>
            <br />
            <p>Output:</p>
            <code>{{index .ViewData "number" }}</code>
        </div>
    </div>
</div>