{{ $error := index .ViewData "error" }}
{{ $successmsg := index .ViewData "success_msg" }}
{{ $toomany := index .ViewData "too_many" }}

<div id="adduser">
	{{if $toomany}}
	<p style="color:blue;">ℹ️ Reached Maximum of 5 Users</p>
	{{end}}
	<form method="post" action="/example/adduser" hx-post="/example/adduser" hx-target="#adduser" hx-swap="outerHTML" autocomplete="off">
		<fieldset {{ if $toomany }} disabled="disabled" {{end}}>
		<label for="emailinput">Email:</label>
		<input type="email" name="email" id="emailinput" autofocus/>

		<input class="btn btn-secondary" type="submit" value="Add new user"/>
		{{ if $error }}
			<span style="color: red;">Error: {{$error}}</span>
		{{end}}

		{{ if $successmsg }}
			<span style="color: green;">{{$successmsg}}</span>
		{{end}}

		</fieldset>
	</form>
	<br />

	{{ $users := index .ViewData "users" }}

	{{ if $users }}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{{ range $val := $users }}
				<tr>
					<td>{{$val.Id}}</td>
					<td>{{$val.Email}}</td>
				</tr>

				{{end}}
			</tbody>
		</table>
	{{ else }}
		<p>There are currently no users.</p>
	{{end}}
</div>